// Mout Public
@media all and (max-width: 768px) {
    div.mout-pub-header-container {
        & H2 {
            text-align: center;
        }
    }

    div.mout-description-container {
        grid-template-columns: 1fr;
    }

    div.services-description-content {

        &.active {
            grid-template-columns: 1fr;
        }
    }

    section.mout-services-description div.services-icon-container:after {
        display: none;
    }

    //Realisations
    div.project-header {
        & span.background-opacity {
            & H1 {
                text-align: center;
            }
        }
    }

    div.project-mission-content {

        &#result {
            width: 80% !important;
        }

        &#skills {
            position: relative;
            margin-top: 2em;
        }

        &#skill-content {
            &::after {
                bottom: -20px !important;
            }
        }
    }

    footer {
        padding: 40px;

        & div.footer-address-container {
            & span.galaxy {
                top: -12px !important;
            }
            & p {
                line-height: 30px;
            }
        }
    }
}

@media all and (max-width: 767px) {
    div.services-icon-container {
        flex-direction: column;
    }

    footer {
        height: auto;
        flex-direction: column;
    }
}

@media all and (min-width: 768px) {

    //Home
    div.mout-description-container {
        grid-template-columns: repeat(10, 1fr);
    }

    div.services-description-content {
        grid-template-columns: 1fr 1.5fr;
    }

    footer {
        height: 105px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        & div.footer-left-container {
            align-items: center;
            margin: 0 2em;
            display: flex;

            & h4 {
                font-family: $mout-font;
                font-size: 25px;
                color: #FFFF00;
            }

            & a {
                color: #fff;
                text-decoration: none;

                &:hover {
                    color: #FFFF00;
                    text-decoration: none;
                }

                & i {
                    color: #FFFF00;
                }
            }

            & div.footer-address-container {
                position: relative;
                margin: 0 2em;

                & span {
                    position: absolute;
                    top: -20px;
                    left: 0;
                }

                & p {
                    margin-bottom: 0;
                }
            }

            & div.footer-mail-container {
                margin: 0 2em 0 0;
            }

            & div.footer-social-networks-container {
                margin-left: 2em;
            }
        }

        & div.footer-right-container {
            margin: 0 2em;
        }
    }

    //Realisations

    div.project-mission-content {
        &#skills {
            position: absolute;
            top: 0;
            right: 10%;
            width: 20%;
            height: 70%;
        }
    }
}

@media all and (min-width: 768px) and (max-width: 1199px) {
    section.mout-services-description div.services-icon-container a {
        margin: 0 1em !important;
    }
}

@media all and (min-width: 1200px) and (max-width: 1399px) {

}

@media all and (min-width: 1400px) {

}

body {
    background-color: #ffffff !important;
}


div.mout-pub-panel {
    position: absolute;
    top: 50px;
    display: flex;
    height: calc(100% - 50px);
    align-items: center;
    justify-content: center;

    &#top-panel {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        justify-content: space-between;
        padding-right: 70px;
        z-index: 1000;
        background: #ffffff;
        cursor: pointer;
    }

    & span.txt-hidden {
        visibility: hidden;
        opacity: 0;
        font-family: $mout-font;
        font-size: 40px;
        color: #000;
        margin-left: 50px;

        & span {
            font-size: 30px;
        }

        &.show {
            visibility: visible;
            opacity: 1;
        }
    }

    &#left-panel {
        left: 0;
        width: 50px;
        height: calc(100% - 50px);
        justify-content: center;
        align-items: center;

        &.fixed {
            position: fixed;
            z-index: 9999;
        }

        & div.mout-pub-rs-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            background: #fff;

            &#project-page {
                background: transparent !important;

                & i {
                    color: #fff !important;
                }
            }

            & i {
                margin: 10px auto;
            }
        }
    }

    & svg.burger {
        width: 3rem;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: -webkit-transform .5s cubic-bezier(.645,.045,.355,1);
        transition: transform .5s cubic-bezier(.645,.045,.355,1);
        transition: transform .5s cubic-bezier(.645,.045,.355,1),-webkit-transform .5s cubic-bezier(.645,.045,.355,1);

        & .burger__line.top {
            stroke-dasharray: 40 139;
        }

        & .burger__line {
            fill: none;
            transition: stroke-dasharray 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), stroke-dashoffset 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
            stroke: #000;
            stroke-width: 5.5;
            stroke-linecap: round;
        }

        & .burger__line.bottom {
            stroke-dasharray: 40 180;
        }

        &.active {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);

            .burger__line.top {
                stroke-dashoffset: -98px;
            }

            .burger__line.bottom {
                stroke-dashoffset: -138px;
            }
        }
    }
}

div.mout-pub-header-container {
    position: relative;
    background-color: #000000;
    height: calc(100vh - 100px);
    width: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin: 50px auto;

    & H1 {
        font-family: $mout-font-light;
        font-size: 90px;
        color: yellow;
    }

    & h2 {
        font-family: $mout-font-light;
        font-size: 60px;
    }
}

//Navigation
nav.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #FFFF00;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;

    &.active {
        visibility: visible;
        opacity: 1;

        &.scale-up-tl {
            -webkit-animation: scale-up-tl .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scale-up-tl .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }
    }

    &.scale-up-br {
        -webkit-animation: scale-up-br .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: scale-up-br .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    & div.main-nav-left-container {
        float: left;
        width: 50%;
        display: flex;
        flex-direction: column;

        & H4 {
            font-family: $mout-font;
            font-size: 40px;
            color: #000;
            margin-left: 50px;

            & span {
                font-size: 30px;
            }
        }

        & div.main-nav-content {
            display: flex;
            flex-direction: column;
            margin-top: 38vh;
            text-align: left;
            width: 30%;
            align-self: flex-end;
            color: #000;

            & i {
                font-size: 2em;
            }

            & a {
                text-decoration: none;
                color: #000;
                font-family: $mout-font;
                font-size: 35px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    & div.main-nav-right-container {
        position: relative;
        width: calc(50% - 50px);
        float: right;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        height: calc(100% - 50px);
        margin-right: 50px;

        & div.main-nav-content {
            margin-top: 45vh;
            margin-left: 15%;
            text-align: left;
            width: 30%;
            align-self: flex-start;
            color: #000;
            display: flex;
            flex-direction: column;

            & H4 {
                font-family: $mout-font-extra-light;
                font-size: 20px;
                margin-bottom: 1em;
            }

            & a {
                color: #000;
                text-decoration: none;
                font-family: $mout-font;
                font-size: 20px;

                &:hover {
                    text-decoration: underline;
                }

                &:nth-of-type(2) {
                    margin-bottom: 1em;
                }
            }

            & p {
                margin-bottom: 0;
                font-family: $mout-font-extra-light;
                font-size: 20px;
            }
        }
    }

    & div.close {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 30px;
        right: 30px;
        color: #000;
        cursor: pointer;
    }
}
// !!Navigation!!

section.mout-description-section {
    width: 60%;
    margin: 3em auto;
    text-align: center;
    font-family: $mout-font-light;

    & H3 {
        font-size: 40px;
    }

    & div.mout-description-container {
        display: grid;
        margin: 3em auto 0;
        grid-template-rows: 80px;
        font-size: 20px;
        width: 55%;

        & span.wording-description-container {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            & span.wording-description {
                display: none;
            }

            &:hover {
                & i {
                    display: none;
                }
                & span.wording-description {
                    display: block;
                    background-color: #FFFF00;
                    padding: 4px 15px;
                    line-height: 30px;
                    margin: 3px 5px;
                }
            }
        }

        & span.wording-description-container:nth-of-type(1),
          span.wording-description-container:nth-of-type(3),
          span.wording-description-container:nth-of-type(5),
          span.wording-description-container:nth-of-type(7),
          span.wording-description-container:nth-of-type(10) {
            align-self: end;
        }

        & span.wording-description-container:nth-of-type(6),
          span.wording-description-container:nth-of-type(9) {
            align-self: center;
        }

        & span.wording-description-container:nth-of-type(10) > i {
            transform: rotate(-30deg);
        }

    }
}

section.mout-services-description {
    margin: 3em auto;
    text-align: center;
    font-family: $mout-font-light;

    & H3 {
        font-size: 70px;
        color: #E4E4E4;
    }

    & div.services-icon-container {
        width: 100%;
        margin: 3em auto;
        position: relative;
        display: flex;
        justify-content: center;

        & a {
            font-size: 30px;
            color: #000000;
            display: flex;
            flex-direction: column;
            margin: 0 3em;
            text-transform: capitalize;
            z-index: 1001;

            &:hover {
                text-decoration: none;
            }

            & i {
                font-size: 30px;

                &:before {
                    background-color: #ffffff;
                }
            }

            //&:nth-of-type(1) i {
            //    color: #7A63F9;
            //}
            //
            //&:nth-of-type(2) i {
            //    color: #FF9D00;
            //}
            //
            //&:nth-of-type(3) i {
            //    color: #03DBC2;
            //}

            //&.link-active {
            //    &#conseil {
            //        color: #7A63F9;
            //    }
            //
            //    &#creation {
            //        color: #FF9D00;
            //    }
            //
            //    &#web {
            //        color: #03DBC2;
            //    }
            //}
        }
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #E4E4E4;
            z-index: 1000;
            top: 75px;
        }

        & span.service-icon {
            margin-top: -15px;
        }
    }

    & div.services-description-container {
        margin-top: 1em;
        position: relative;

        & div.services-description-content {
            width: 85%;
            visibility: hidden;
            opacity: 0;
            display: none;

            &.active {
                visibility: visible;
                opacity: 1;
                display: grid;
                margin: 0 auto;
                grid-column-gap: 80px;
                grid-template-rows: minmax(200px, 1fr);
            }

            & div.services-description-content-left {
                text-align: left;
                padding: 30px;
                position: relative;
                color: #fff;

                & div.icon-container {
                    position: absolute;
                    top: -20px;
                    right: -20px;

                    & i {
                        font-size: 10em;
                        color: #fff;
                    }
                }

                & H4 {
                    font-size: 60px;
                }

                & p {
                    font-family: $mout-font;
                    font-size: 30px;
                }
            }

            & div.services-description-content-right {

                b {
                    font-weight: 700 !important;
                }

                & H4 {
                    text-align: left;
                    font-size: 30px;
                }

                & p {
                    font-family: $bo-font;
                    font-size: 18px;
                    font-weight: 200;
                    text-align: left;
                }
            }

            & a.show-more {
                float: left;
                color: #000;
                border-radius: 0;
                background-color: #FFFF00;
                border: 1px solid #FFFF00;
                font-size: 18px;

                &:hover {
                    color: #fff;
                    background-color: #000;
                    border: 1px solid #000;
                }
            }
        }
    }
}

section.mout-realisations {
    margin: 3em auto;
    text-align: center;
    font-family: $mout-font-light;

    & H3 {
        font-size: 40px;
    }
}

section.mout-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3em;

    & h3 {
        font-family: $mout-font;
        font-size: 40px;
        text-align: center;
        margin-bottom: 2em;
    }

    & div.projects-container {
        width: 75%;
        margin: 0 auto;
    }

    div.end-section-container {
        width: 100%;
        margin: 3em auto;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #E4E4E4;
            z-index: 1000;
            top: 0;
        }
    }

    & div.link-container {
        width: 85%;
        margin: 2em auto;
        text-align: right;

        & a.projects-plus {

            padding: 10px 0;
            color: #000;
            text-decoration: none;
            font-family: $mout-font;
            font-size: 18px;

            & span.projects-plus {
                background-color: #FFFF00;
                padding: 10px;
                border: 1px solid #FFFF00;
            }

            &:hover {
                color: #fff;

                & span.projects-plus {
                    background-color: #000;
                    border: 1px solid #fff;
                }
            }
        }
    }
}

div.project-container {
    position: relative;

    &::before {
        content: "";
        display: block;
        padding-top: 100%;
    }

    & img.project-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
    }

    & a {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        padding-left: 15px;
        padding-right: 15px;
        cursor: pointer;
        text-decoration: none;
        color: #fff;
        opacity: 0;
        transition: all .2s ease-in-out;

        & img {
            object-fit: contain;
            height: 20%;
            top: 0;
            margin-bottom: 2em;
        }

        & p {
            line-height: 16px;
        }

        & p.project-title {
            font-family: 'Assistant';
            font-size: 20px;
            font-weight:700;
            margin-bottom: .5em;
        }

        & span.project-description {
            & p {
                font-family: 'Assistant';
                font-weight: 200;
                margin-bottom: 0;
                line-height:20px;
            }
        }

        & button {
            bottom: 30px;
            position: absolute;
            background: transparent;
            border: none;
            font-family: $mout-font;
            color: #fff;
            font-size: 18px;
        }

        &:hover {
            position: absolute;
            top: 0;
            right: 15px;
            left: 15px;
            opacity: 1;
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: start;
            cursor: pointer;
        }
    }
}

section.mout-contact {
    margin-bottom: 3em;
    text-align: center;
    transition: all .5s ease-in-out;

    & h3 {
        font-family: $mout-font-bold;
        font-size: 40px;
        text-align: center;
        margin-bottom: .5em;
    }

    & span {
        color: #000;
        font-family: $mout-font;
        font-size: 30px;

        & span {
            padding: 10px;
            background-color: #FFFF00;
        }

        &:hover {
            color: #fff;

            & span {
                background-color: #000;
            }
        }
    }

    & div.svg-container {
        & svg {
            width: 8%;
            transform: rotate(180deg);
            transition: all .5s ease-in-out;
        }
    }

    &.active {

        & div.svg-container {
            & svg {
                transform: rotate(0deg);
            }
        }
    }
}

section.projects-container {
    margin-top: 100px;
}

//Project layout
section.mout-project-section {
    & div.project-header {
        height: 100vh;
        position: relative;

        & span.background-opacity {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .4);

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & H1.title-project {
                color: #fff;
                margin-top:  .7em;
            }
        }
    }

    & div.project-description-container {
        position: relative;
        margin: 2em auto 0;

        & div.project-mission-content {
            width: 80%;
            text-align: left;
            margin: 0 auto;

            &#description {
                margin-bottom: 3em;
                position: relative;

                & H2 {
                    width: 280px;
                    -webkit-box-shadow: inset 0px -14px 0px 0px #FFFE00 !important;
                    box-shadow: inset 0px -14px 0px 0px #FFFE00 !important;
                }
            }

            &#result {
                width: 60%;
                margin: 0 auto;
                padding: 50px;
                background-color: #DBE2E5;
            }

            &#skills {
                background-color: #FFFE00;
                padding: 40px;
            }

            &#skill-content {
                position: relative;
                height: 100%;
                width: 100% !important;
                font-family: $mout-font;
                font-size: 20px;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 4px;
                    background-color: #fff;
                }
            }

            & H2 {
                font-family: $mout-font;
                font-size: 50px;
                margin-bottom: .4em;
            }

            & p {
                margin-bottom: 0;
                line-height: 25px;
            }
        }
    }

    & div.project-img-container {
        width: 80%;
        margin: 2em auto;

        & img {
            object-fit: cover;
        }
    }
}

footer {
    display: flex;
    color: #fff;
    background-color: #000;
    font-family: $mout-font;

    & div.footer-left-container {
        //align-items: center;
        //margin: 0 2em;

        & h4 {
            font-family: $mout-font;
            font-size: 25px;
            color: #FFFF00;
        }

        & a {
            color: #fff;
            text-decoration: none;

            &:hover {
                color: #FFFF00;
                text-decoration: none;
            }

            & i {
                color: #FFFF00;
            }
        }

        & div.footer-address-container {
            position: relative;
            //margin: 0 2em;

            & span {
                position: absolute;
                top: -20px;
                left: 0;
            }

            & p {
                margin-bottom: 0;
            }
        }

        & div.footer-mail-container {
            //margin: 0 2em 0 0;
        }

        & div.footer-social-networks-container {
            //margin-left: 2em;
            & a {
                margin: 0 .5em;
            }
        }
    }

    & div.footer-right-container {
        //margin: 0 2em;
    }
}

//Contact form
div.contact-form {
    display: none;

    & div.floating-label.contact-form-input-container {
        margin: 0 auto;
        width: 50%;

        &.custom-radio {
            display: flex;
            justify-content: space-between;
            margin-top: 1em;
        }

        & input {
            &:not([type="radio"]) {
                width: 100%;
                border: none;
            }
        }

        & label {
            font-family: $mout-font;
            color: #000 !important;
            opacity: 1 !important;
            -webkit-box-shadow: inset 0px -10px 0px 0px #FFFE00;
            box-shadow: inset 0px -10px 0px 0px #FFFE00;

            &.float {
                left: 13px;
            }
            &::after {
                background: none !important;
            }
        }

        & .custom-control-input:checked ~ .custom-control-label::before {
            border-color: #FFFE00;
            background-color: #FFFE00;
        }

        & .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
            background-image: none !important;
        }

        & H6 {
            width: 14%;
            font-family: $mout-font;
            font-size: 20px;
            -webkit-box-shadow: inset 0px -10px 0px 0px #FFFE00;
            box-shadow: inset 0px -10px 0px 0px #FFFE00;
            margin: 1em 0;
        }

        & textarea {
            width: 100%;
            border: none;
            background: #F6F8F9;
            font-family: 'Assistant';
            font-size: 18px;
            font-weight:300;
        }

        & button.btn-submit-form {
            border: 1px solid #fff;
            padding: 8px 20px;
            background: none;
            font-family: $mout-font;
            font-size: 20px;
            -webkit-box-shadow: inset 0px -10px 0px 0px #FFFE00;
            box-shadow: inset 0px -10px 0px 0px #FFFE00;
            line-height: 30px;
            transition: all .5s ease-in-out;

            &:hover {
                -webkit-box-shadow: inset 0 0 0 0 #FFFE00;
                box-shadow: inset 0 0 0 0 #FFFE00;
                border: 1px solid #FFFE00;
            }
        }
    }
}


@keyframes navigation-line-top {
    0% {
        top: 0;
    }
    50% {
        top: 40%;
    }

    100% {
        transform: rotate(120deg);
    }
}


/**
 * ----------------------------------------
 * animation scale-up-tl
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-tl {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
}
@keyframes scale-up-tl {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
}

/**
 * ----------------------------------------
 * animation scale-up-br
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-br {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }
}
@keyframes scale-up-br {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }
}
