/** MOUT GESTION DES FORMS **/
:root {
    --input-padding-x: .75rem;
    --input-padding-y: .75rem;
}

.mout-form {
    min-width: 35%;
    margin: 2em 0 2em;
}

.mout-form-double-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    & div.left-form-container {
        padding: 0 20px 20px 0;
    }

    & H3 {
        text-transform: uppercase;
        font-size: 20px;
        font-family: $bo-font;
        font-weight: 600;
    }
}

/** delete box shadow bootstrap **/
.form-control:focus {
  box-shadow: none !important;
}

/** SPECIFICITES SITE EN COURS **/
legend {
  font-family: "AristaProAlternateExtraLight";
  color:#707070; /*couleur  label à changer si besoin*/
  font-size:22px;
  font-weight:bold;
  margin-top: 2rem;
  margin-bottom: 0;
}

.legend-contact {
  display: none;
}

.floating-label {
  position:relative;
  margin-bottom:30px;
}

.form-control {
    border-color: #e3e3e3 !important;
    box-shadow: none !important;
    font-size: 15px !important;
}

.floating-input,
.floating-select {
  display:block;
    height: 50px !important;
    padding: 21px 12px 6px !important;

  &:focus {
    outline:none;
    border-bottom:2px solid #707070;
    background: transparent;
  }
}

label.float {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.4;
    pointer-events: none;
    position: absolute;
    -webkit-transform: translate3d(0, 22px, 0) scale(1);
    -ms-transform: translate3d(0, 22px, 0) scale(1);
    -o-transform: translate3d(0, 22px, 0) scale(1);
    transform: translate3d(0, 22px, 0) scale(1);
    transform-origin: left top;
    transition: 240ms;
    left: 25px;
    top: -8px;
    z-index: 1;
    color: #888;
    margin-bottom: 0;
}


.floating-input:focus ~ label.float, .floating-input:not(:placeholder-shown) ~ label.float {
    opacity: 1;
    font-weight: 300;
    top: -14px;
    font-size: 12px;
    z-index: 1;
}

.floating-select:focus ~ label.float , .floating-select:not([value=""]):valid ~ label.float {
  top:-18px !important;
  font-size:14px !important;
  color:#343a40 !important;
}

/* active state */
.floating-input:focus ~ .bar:before, .floating-input:focus ~ .bar:after, .floating-select:focus ~ .bar:before, .floating-select:focus ~ .bar:after {
  width:50%;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.floating-input.floating-textarea {
  height: auto;
}

.relative-label {
    font-size: .85rem;
    font-weight: bold;
}

.datetimepicker {
    margin-top: 0 !important;
    padding: .375rem .75rem !important;
}

.input-group-text {
    background-color: transparent !important;
}

/* highlighter */
.highlight {
  position:absolute;
  height:50%;
  width:100%;
  top:15%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.floating-input:focus ~ .highlight , .floating-select:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* animation */
@-webkit-keyframes inputHighlighter {
  from { background:#ffec00; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#ffec00; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#ffec00; }
  to 	{ width:0; background:transparent; }
}
