/* Webfont: AristaProAlternate-Light */@font-face {
    font-family: 'AristaProAlternateLight';
    src: url('AristaProAlternate-Light.eot'); /* IE9 Compat Modes */
    src: url('AristaProAlternate-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('AristaProAlternate-Light.woff') format('woff'), /* Modern Browsers */
         url('AristaProAlternate-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('AristaProAlternate-Light.svg#AristaProAlternate-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

